<%# view for pull_requests.erb %>
<!DOCTYPE html>
<html>
<head>
  <title>AM1 spike</title>
</head>
<body>
  <h1>GitHub PRs spike</h1>
  <ul>
    <% @all_pull_requests.each do |pull_request| %>
      <br>
      <li>
        <a href="<%= pull_request.html_url %>">
          <%= "PR title: #{pull_request.title}" %>
        </a>
        <br>
        <%= "Repository: #{pull_request.base.repo.name}" %>
        <br>
        <%= "author: #{pull_request.user.login}" %>
        <%= display_avatar(pull_request.user.login) %>
        <br>
        <%= "Created the: #{format_datetime(pull_request.created_at)}" %>
        <br>
        <%= "State: #{pull_request.state}" %>
        <br>
        <% if pull_request.merged_at %>
          <%= " Merged at: #{format_datetime(pull_request.merged_at)}" %>
        <% else %>
          <strong>Not Merged </strong>
        <% end %>
        <br>
        <%# add comments info %>
        <% comments = Octokit.issue_comments("#{pull_request.base.repo.owner.login}/#{pull_request.base.repo.name}", pull_request.number) %>
        <%# <%= p comments %>
        <% if comments.any? %>
            <% comments.each do |comment| %>
                <%= "Comment from: #{comment.user.login}" %>
                <%= display_avatar(comment.user.login) %>
               <br>
                <%= "#{comment.body}" %>
            <% end %>
        <% else %>
          <em> No comments on this PR </em>
        <% end %>
        <br>
        <%# add requests review info %>
        <% review_request = Octokit.pull_request_review_requests("#{pull_request.base.repo.owner.login}/#{pull_request.base.repo.name}", pull_request.number) %>
        <%# <%= p comments %>
        <% if review_request.any? %>
            <% review_request.users.each do |user| %>
                <%= "Review requested by: #{user.login}" %>
                <%= display_avatar(user.login) %>
            <% end %>
        <% else %>
          <em> No review request on this PR </em>
        <% end %>
      </li>
    <% end %>
  </ul>
</body>
</html>
